{% extends "email_base.tmpl" %} {% block content %}

<div class="text">
    <h2>Hi {{name}}</h2>
    <p>Your system has been activated and can be used via the following API-key:</p>
</div>
<hr>
<div class="content text">
    {{key}}
</div>

{% endblock %}