{% extends "email_base.tmpl" %} {% block content %}

<div class="text">
    <h2>Hi {{name}}</h2>
    <p>Here are personalized suggestions for articles to read based on your arXivDigest profile:</p>
</div>
<hr>
<div class="content text">

    {% for day in articles %}
    <h2>{{ day[0] }}</h2>
    {%for article in day[1] %}

    <a href="{{article.read_link}}">
        <h3>{{article.title}}</h3>
    </a>
    <span class="authors">{{ article.authors }}</span>

    <br>
    <span class="small_grey">{{ article.explanation }}</span>

    <a href={{article.save_link}}>
        <p>Save</p>
    </a>
    <br> {%endfor%} {% endfor %}

</div>

{% endblock %}