@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

html {
    position: relative;
    min-height: 100%;
}

html body {
    margin-top: 50px;
    margin-bottom: 60px;
}

body,
p {
    font-family: 'Open Sans', sans-serif;
}

a,
a:hover {
    color: #951a1d;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}


.list-group a:hover {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #b7b7b7;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 0.9em;
}

#navbar .nav {
    font-family: 'Montserrat', sans-serif;
}

.navbar-header a.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;
}

.red {
    color: #951a1d;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.article {
    background-color: #f5f5f5;
    min-block-size: 200px;
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 10px;
}

.article_header {
    border-bottom: 1px solid grey;
    background-color: lightcoral;
}

input[type=text]:required:valid,
.touched:valid {
    box-shadow: 0 0 5px #5cd053;
}

form td {
    max-width: 400px;
    position: relative;
}

.touched:invalid {
    border: 1px solid red;
    box-shadow: 0 0 5px #ffaaaa;
}

:valid ~ .glyphicon-ok {
    padding: 5px;
    visibility: visible;
    color: #45a049;
}

input ~ .glyphicon-ok {
    visibility: hidden;
}


.systemList {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    max-height: 1500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.systemList div {
    overflow: auto;
    max-height: 300px;

}

.infobox {
    width: auto;
    height: auto;
}

.infobox input {
    width: 200px;
}

.signupLabel {
    position: absolute;
    top: 0;
}

.form_list li {
    position: relative;
}

.form_list li .list_text {
    display: block;
    position: relative;
    max-width: 95%;
}

.glyphicon.glyphicon-remove {
    color: lightgrey;
    position: absolute;
    right: 0.5em;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.3em;
}

td input[type=radio] {
    width: 20px;
    margin-left: 50px;
}

* {
    box-sizing: border-box;
}

.signupHint {
    bottom: 0;
    line-height: 15px;
    color: rgb(59, 59, 59);
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #f0f0f0;
}

table input,
input,
select,
textarea {
    width: 100%;
    margin: 0.3em 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.flexContainer {
    position: relative;
}

.flexContainer input,
.flexContainer .autocomplete-suggestions {
    width: 84%;

}

.flexContainer .autocomplete-suggestions {
    position: absolute;
    top: 3.82em;
}

form .flexContainer .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.3em 0;
    width: 15%;
}

form .btn, div.btn {
    width: 100%;
    padding: 1em 0;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

#pageIndicator {
    color: rgb(161, 161, 161);
    float: right;
    padding-right: 20px;
}

#indexTitle {
    padding-left: 20px;
    float: left;
    margin-bottom: 20px;
}

.container .text-muted {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

.flex-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#nextPage {
    border: none;
    border-radius: 10px;
    background-color: #b7b7b7;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    float: right;
    margin-right: 20px;
}

#nextPage:hover {
    background-color: #9b9b9b;
}

#logoutButton,
#loginButton,
#homeButton {
    background-color: #b7b7b7;
}

.sortbutton {
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #cccccc
}

.sortDiv {
    width: 260px;
    float: right;
}

.dropdownActive {
    background-color: lightblue;
    cursor: default;
    pointer-events: none;
}

#rightSort {
    border-left: 2px solid rgb(153, 153, 153);
}

#leftSort {
    cursor: default;
}

#leftSort:hover {
    border-right: 1px solid rgb(153, 153, 153);
}

#rightSort:hover {
    background-color: #a7a6a6;
}

.articleDiv:hover {
    border-color: coral;
}

.articleDiv h4:hover {
    color: coral;
}

.leftText {
    text-align: left;
}

#systemForm input[type=text] {
    margin: 5px;
    width: 200px;
}

#systemForm label {
    width: 200px;
    margin: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.articleDiv {
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 835px;
    min-width: 300px;
    overflow: hidden;
    margin: 0 auto;
    clear: both;
    position: relative;
}

.articleInfo {
    padding: 0px;
    padding-right: 40px;
    margin: 0px;
    max-width: 800px;
}

.articleIcons {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 35px;
    padding: 0px;
    margin: 5px 5px 0px 0px;
}

#indexDiv, #likedDiv {
    margin-left: 0px;
    width: 100%;
}

#paginationDiv {
    text-align: center;
    width: 100%;
}

#paginationNav {
    display: inline-block;
}

#paginationNav .pagination > .disabled > a,
#paginationNav .pagination > .disabled > a:focus,
#paginationNav .pagination > .disabled > a:hover,
#paginationNav .pagination > .disabled > span,
#paginationNav .pagination > .disabled > span:focus,
#paginationNav .pagination > .disabled > span:hover {
    cursor: default;
}

.articleDescription {
    margin-left: 40px;
    overflow: hidden;
    line-height: 1.5em;
    height: 4.6em;
}

.explanation {
    position: absolute;
    left: 120px;
    bottom: 5px;
    margin: 0px;
    color: rgb(151, 151, 151);
    font-size: 1em;
    position: relative;
    padding-right: 20%;
}

#article_id {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 25%;
    font-weight: bold;
}

#article_id:hover {
    color: rgb(78, 78, 78);
}

/* Footer */

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer_item {
    padding: 5px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}


.showMore {
    position: absolute;
    left: 10px;
    bottom: 5px;
    margin: 0px;
    width: 80px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #c7c7c7;
    color: rgb(90, 90, 90);
}

.showMore:hover, .feedback:hover {
    background-color: #949494;
    color: rgb(59, 59, 59);
}

.feedback {
    position: absolute;
    right: 10px;
    bottom: 5px;
    margin: 0px;
    width: 80px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #c7c7c7;
}

.articleAuthors {
    margin-left: 20px;
    color: rgb(185, 185, 185);
    font-size: 0.9em;
}

.likeButton {
    color: white;
    background-color: #b7b7b7;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    font-size: 1.5em;
    padding: 6px;
    padding-top: 8px;
    margin-top: 10px;
    cursor: pointer;
}

#linkButton {
    height: 35px;
    width: 35px;
    margin-top: 10px;
}

.articleIcons .Liked {
    background-color: coral;
}

.likeButton:hover {
    background-color: coral;
}

.likeButton:active {
    background-color: rgb(228, 100, 54);
}

.likeButtonLiked:hover {
    background-color: #b7b7b7;
}

.likeButtonLiked:active {
    background-color: #979797;
}

#indexDiv a, #likedDiv a {
    color: black;
    text-decoration: none;
}

.moreButton {
    margin-left: 40px;
    z-index: 999;
}

#admins .table {
    width: 500px;
    margin: 0 auto;
}

#userPlotContainer, #articlePlotContainer {
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border: 3px solid rgb(199, 199, 199);
    border-radius: 10px;
}

#statistics {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 1.3em;
    width: 600px;
    border: 3px solid rgb(199, 199, 199);
    border-radius: 10px;
    padding: 3px;
}

.form_error {
    font-size: 0.9em;
    color: rgb(255, 0, 0);
    margin: 0;
}

#tc_text {
    text-align: center;
}

#tc_checkbox {
    max-width: 12px;
    margin-left: 40%;
}
