{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row contentblock">
            <div class="col-md-8">
                {% include 'about_arxivdigest.html' %}
                <h2>Creators</h2>
                <p>ArXivDigest is developed and operated by the <a href="https://iai.group">IAI group</a> at the <a
                        href="https://www.uis.no">University of Stavanger</a>.
                    Specifically, the development is led by <a href="https://krisztianbalog.com">Krisztian Balog</a>,
                    and the implementation is being done by Øyvind Jekteberg and Kristian Gingstad as part of their
                    former BSc and current MSc thesis projects.
                </p>
            </div>
        </div>
    </div>
{% endblock %}