<h2>What is arXivDigest?</h2>
<h3>A scientific literature recommendation service</h3>
<p>Motivated by the accelerating pace at which scientific knowledge is being produced, we aim to provide
    a recommendation service that helps researchers to keep up with scientific literature.
    Specifically, we create a <strong>personalized email digest of the most recent papers published at
        <a href="https://arxiv.org/" target="_blank">arXiv.org</a></strong> at regular intervals, based
    on your interest profile. Based on your interactions with the recommendations, we can improve the
    service to serve you with even better recommendations in the future.</p>
<p>We provide the service for free. Well, almost. You pay for it by donating the data you
    generate for research purposes. Basically, you allow us to disclose, via our API, your profile information (name,
    websites, and topics of interest), the recommendations you received, and how you interacted with
    those recommendations. Note that you can download your personal data any time from the system to see
    what information is stored about you. And, of course,
    you have a right to be forgotten and be removed from our system.
    Please have a look at our <a href="{{ url_for('general.privacy_policy') }}">Privacy Policy</a>, then hit <a
            href="{{ url_for('general.signup') }}">signup</a> if you're ready to give it a try.</p>
<p>For those that are curious, all the code behind this site and service is open source and is available
    on <a href="https://github.com/iai-group/arXivDigest">GitHub</a>.</p>
<h3>A living lab</h3>
<p>ArXivDigest operates as a living lab platform. It means that third-party researchers can experiment
    with novel recommendation approaches ("recommendations AI"), and the generated suggestions will be
    shown to users of the arXivDigest service. This allows for realistic, in situ evaluation with real
    users. Further, user interactions can be utilized for improving recommendation and explanation capabilities.</p>
<p>If you are a researcher who is interested in participating, then check out our
    <a href="https://github.com/iai-group/arXivDigest">GitHub</a> pages for more information.</p>