{% extends "base.html" %} {% block content %}
<div class="container">

    <ul class="nav nav-tabs">
        <li>
            <a href="#general">General</a>
        </li>
        <li>
            <a href="#systems">Manage systems</a>
        </li>
        <li>
            <a href="#evaluation">Evaluation</a>
        </li>
        <li>
            <a href="#feedback">Feedback</a>
        </li>
        <li>
            <a href="#admins">Admins</a>
        </li>
    </ul>
    <div class="tab-content row">
        <div id="general" class="tab-pane">
            <div id="statistics"></div>
            <div id="userPlotContainer"></div>
            <div id="articlePlotContainer"></div>
        </div>
        <div id="systems" class="tab-pane .flex-container">

            <div class="systemList">
                <h3 class="leftText">List of systems:</h3>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Contact name</th>
                                <th>Organization name</th>
                                <th>Email</th>
                                <th>API-key</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div id="evaluation" class="tab-pane evaluation">

        </div>
        <div id="feedback" class="tab-pane evaluation">

        </div>

        <div id="admins" class="tab-pane">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Email</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
