<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>arXivDigest</title>

    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css ">
    {% assets "css_base" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body class="tex2jax_ignore">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand inactiveLink" href="#">ar<span class="red">X</span>ivDigest</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if g.loggedIn %}
                    <li class="active">
                        <a href="{{ url_for('general.loginPage') }}" id="homeButton">Recommendations</a>
                    </li>
                    <li>
                        <a href="{{ url_for('articles.savedArticles') }}">Library</a>
                    </li>
                    <li>
                        <a href="{{ url_for('general.profile') }}">Profile</a>
                    </li>
                    {% if g.admin %}
                        <li>
                            <a href="{{ url_for('admin.admin') }}">Admin</a>
                        </li>
                    {% endif %} {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.loggedIn %}
                    <li>
                        <a href="#profile" class="inactiveLink"> Logged in as {{ g.email }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('general.logout') }}" id="logoutButton">Log out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('general.login') }}" id="loginButton">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('general.signup') }}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header> {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %} {% endif %} {% endwith %}

{% block content %} {% endblock %}

<footer>
    <div class="container">
        <div class="alignleft">
            <a href="{{ url_for('general.about') }}" class="footer_item">About</a>
            <span class="footer_item">|</span>
            <a href="{{ url_for('general.terms_and_conditions') }}" class="footer_item">Terms and Conditions</a>
            <span class="footer_item">|</span>
            <a href="{{ url_for('general.privacy_policy') }}" class="footer_item">Privacy Policy</a>
            <span class="footer_item">|</span>
            <a href="{{ url_for('general.livinglab') }}" class="footer_item">Living Lab</a>
            <span class="footer_item">|</span>
            <a href="{{ url_for('general.feedback') }}" class="footer_item">Leave us feedback</a>
        </div>
        <div class="alignright">
            <span class="footer_item">Copyright (c) <a href="http://iai.group/">IAI group</a>, <a href="https://www.uis.no/frontpage/#Studies">University of Stavanger</a></span>
        </div>
    </div>
</footer>
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        },
        options: {
            skipHtmlTags: [//  HTML tags that won't be searched for math
                'script', 'noscript', 'style', 'textarea', 'pre',
                'code', 'annotation', 'annotation-xml'
            ],
            includeHtmlTags: {//  HTML tags that can appear within math
                br: '\n', wbr: '', '#comment': ''
            },
            ignoreHtmlClass: 'tex2jax_ignore',    //  class that marks tags not to search
            processHtmlClass: 'tex2jax_process',  //  class that marks tags that should be searched
        }

    };
</script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<!-- Libraries - Placed at the end of the page so it loads faster-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js'></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% assets "js_base" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>

</body>

</html>
