{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row contentblock">
            <div class="col-md-8">

                <h3>We will send send you an email. Activate your account by clicking the link in this email</h3>
                <br>

                <h5>If you registered using the wrong email you can modify it here or click the button to send the mail again.</h5>
                <form action="{{ url_for('general.send_email') }}" method="POST" id="signupForm" enctype=multipart/form-data>
                <table>
                    <tr>
                        <td>
                            <input type="email" id="email" name="email" placeholder="Your email.." required onblur="inputTouched(this)"
                            autofocus size="254" onfocus="removeTouched(this)" value="{{ email if email else '' }}">
                            <p class="hint">Your email address will not be shared with anyone!</p>
                            <p class="form_error"></p>
                        </td>
                        <td>
                            <input class="btn btn-primary" type="submit" value="Send email" style="margin-left: 20px;">
                        </td>
                        <td></td>
    
                    </tr>
                </table>
                </form>

            </div>
        </div>
    </div>
{% endblock %}