{% extends "base.html" %} {% block content %}
    {% import 'macros/form.html' as macros %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {% if article %}
                    <h2>Feedback on article recommendation</h2>

                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">Recommendation</h3>
                        </div>
                        <div class="panel-body">


                            <label>Article ID: </label>
                            <div><a href="{{ url_for('articles.click', articleId=article.article_id) }}"
                                    target="_blank">
                                {{ article.article_id }}
                            </a></div>
                            <br>
                            <label> Article title:</label>
                            <div>{{ article.title }}</div>
                            <br><label>Explanation: </label>
                            <div>{{ article.explanation }}</div>
                        </div>
                    </div>

                {% else %}
                    <h2>Feedback</h2>
                {% endif %}

                {% call macros.render_form(form, action_text='Send feedback',
                                        class_='') %}
                    {{ form.csrf_token }}
                    {{ macros.render_field(form.feedback_type) }}

                    {% if article %}

                        {{ macros.render_radio_field(form.relevance, 'radio-inline') }}
                        {{ macros.render_radio_field(form.expl_satisfaction, 'radio-inline') }}
                        {{ macros.render_radio_field(form.expl_persuasiveness, 'radio-inline') }}
                        {{ macros.render_radio_field(form.expl_transparency, 'radio-inline') }}
                        {{ macros.render_radio_field(form.expl_scrutability, 'radio-inline') }}
                    {% endif %}


                    {{ macros.render_field(form.feedback_text) }}

                {% endcall %}

            </div>
        </div>
    </div>
    <br>
{% endblock %}
