{% extends "base.html" %} {% block content %}
{% if topic_flag %}
    <script>
        suggested_topics = {{ suggested_topics | tojson }};
    </script>
{% endif %}

<div class="container" id="indexDiv">

    {% if topic_flag %}
        <div class="col-lg-8 col-lg-offset-1">
    {% else %}
        <div class="col-lg-8 col-lg-offset-2">
    {% endif %}

        <h3 id="indexTitle">Your personal article recommendations</h3>
        {% include 'articlelist.html' %}
    </div>

    {% if topic_flag %}
        <div class="col-md-3">
            <ul class="list-group rightmenu" id="index_topic_list"></ul>
            <p class="red topic-error" id="topic_error"></p>
        </div>
    {% endif %}
    
</div>
{% endblock %}