{% extends "base.html" %} {% block content %}

    <div class="container">
        <div class="row">
            <div style="width:80%; margin-left:10%;">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#living_lab">Living Lab</a>
                    </li>
                    <li>
                        <a href="#evaluate_systems">Evaluation</a>
                    </li>
                    <li>
                        <a href="#feedback_systems">Feedback</a>
                    </li>
                </ul>
                <div class="tab-content row">
                    <div id="living_lab" class="tab-pane">
                        <div>
                            <h2>Living Lab</h2>
                            <p>ArXivDigest operates as a living lab.</p>
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum."
                            </p>
                        </div>
                        <br>
                        <h2 style="text-align: center;">Your systems:</h2>
                        <p style="text-align: center; color:rgb(104, 104, 104);">Contact
                            name: {{ user.firstname }} {{ user.lastname }}. |
                            Organization: {{ user.organization }}. | Email: {{ user.email }}</p>
                        <div id="user_system_list">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>API-key</th>
                                    <th>Activated</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for system in systems %}
                                    <tr>
                                        <td>{{ system.system_id }}</td>
                                        <td>{{ system.system_name }}</td>
                                        <td>{{ system.api_key }}</td>
                                        {% if system.active == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <a href="{{ url_for('general.registerSystemPage') }}">
                            <div class="btn btn-primary">Add a new system</div>
                        </a>
                    </div>
                    <div id="evaluate_systems" class="tab-pane evaluation">

                    </div>
                    <div id="feedback_systems" class="tab-pane evaluation">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
