{% extends "base.html" %} {% block content %}
    <div class="alert alert-warning" role="alert">Please note that the arXivDigest service is still very much under
        construction.
        Currently, we are rolling out changes on a daily basis.
        You may experience issues and that certain features do not work as expected.
        So please bear with us and give us feedback.
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-top: -20px;">
                {% include 'about_arxivdigest.html' %}
            </div>
            <div class="col-md-4">
                <div id=login>
                    <fieldset>
                        <legend>Login</legend>
                        <form action="{{ url_for('general.login',next=next) }}" method="POST">
                            <table>

                                <tr>
                                    <td><label>Email:</label>
                                    </td>
                                    <td>
                                        <input id="loginEmail" type="email" name="email" placeholder="Your email.."
                                               required autofocus size="254">
                                    </td>

                                </tr>
                                <tr>
                                    <td><label>Password:</label></td>
                                    <td><input id="loginPassword" type="password" name="password"
                                               placeholder="Your password.." required
                                               size="256"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input class="btn btn-primary" id="largeLoginButton" type="submit"
                                               value="Login"></td>
                                </tr>
                            </table>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}