{% extends "base.html" %} {% block content %}
<div class="container">

    <fieldset>
        <legend>Modify profile:</legend>

        <form action="{{ url_for('general.modify') }}" method="POST" id="signupForm" enctype=multipart/form-data>
            <table>
                {% include 'user_profile_form.html' %}
                <tr>
                    <td></td>
                    <td>
                        <br>
                        <input type="submit" value="Update Profile">
                    </td>
                    <td></td>

                </tr>
            </table>

        </form>
    </fieldset>

</div>

{%endblock%}
