{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
        <fieldset>
        <h2>Change Password:</h2>    
            <form action="{{ url_for('general.passwordChange') }}" method="POST" enctype=multipart/form-data>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="table table-user-information">  
                    <tr>
                        <td><label for="oldPassword" class="signupHint">Old password: *</label></td>
                        <td>
                            <input type="password" id="oldPassword" name="oldPassword" placeholder="Old password.." pattern="(?=^.{9,256}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                required onblur="inputTouched(this)" size="256">
                        </td>
                    </tr>              
                    <tr>
                        <td>
                            <label for="password" class="signupHint">Password: *</label>
                        </td>
                        <td>
                            <br>
                            <p class="signupHint">Password must contain atleast one lowercase character, one uppercase character, one number, one symbol
                                and be more than 8 charcters long.</p>
                            <input type="password" id="password" name="password" placeholder="New password.." pattern="(?=^.{9,256}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                required onblur="inputTouched(this)" size="256" oninput="this.value==confirmPassword.value ? confirmPassword.setCustomValidity(''): confirmPassword.setCustomValidity('Passwords must match.')"
                                onfocus="removeTouched(this)">
                            <br><br>
                            <input type="password" id="confpass" name="confirmPassword" placeholder="Repeat password.." required onblur="inputTouched(this)"
                                size="256" oninput="this.value==password.value ? this.setCustomValidity(''): this.setCustomValidity('Passwords must match.')"
                                onfocus="removeTouched(this)">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="btn btn-primary" type="submit" value="Change password">
                        </td>
    
                    </tr>
            </table>
            </form>
        </fieldset>
        </div>
    </div>
</div>          
{%endblock%}
