{% extends "base.html" %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-user-information">
                    <tbody>
                    <h3>Profile</h3>
                    <tr>
                        <td>Name:</td>
                        <td>
                            {{ user.firstname }} {{ user.lastname }}
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Organization:</td>
                        <td>
                            {{ user.organization }}
                        </td>
                    </tr>
                    <tr>
                        <td>Personal/organizational website:</td>
                        <td>
                            <a target="_blank" href=//{{ user.personal_website }}>{{ user.personal_website }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>DBLP profile:</td>
                        <td>
                            <a target="_blank" href=//{{ user.dblp_profile }}>{{ user.dblp_profile }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Google Scholar profile:</td>
                        <td>
                            <a target="_blank"
                               href=//{{ user.google_scholar_profile }}>{{ user.google_scholar_profile }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Semantic Scholar profile:</td>
                        <td>
                            <a target="_blank"
                               href=//{{ user.semantic_scholar_profile }}>{{ user.semantic_scholar_profile }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Topics:</td>
                        <td>
                            {% for topic in user.topics %}
                                {{ topic['topic'] }}
                                <br> {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Interests:</td>
                        <td>
                            {% for category in user.categories %}
                                <a href="https://arxiv.org/list/{{ category[0] }}/recent"
                                   target="_blank">{{ category['category_name'] }}</a>
                                <br> {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Notification Interval:</td>
                        <td>{% if user.notification_interval == 1 %}daily{% else %}weekly{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <ul class="list-group rightmenu">
                    <li class="list-group-item"><a href="{{ url_for('general.modify') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Modify profile</a></li>
                    <li class="list-group-item"><a href="{{ url_for('general.passwordChange') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Change password</a></li>
                    <li class="list-group-item"><a href="{{ url_for('general.download_personal_data') }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download your personal data</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
