{% extends "base.html" %} {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <table class="table table-user-information">
                    <tbody>
                    <h3>{{ user.firstname }}&nbsp{{ user.lastname }}'s profile information:</h3>
                    <tr>
                        <td>Name:</td>
                        <td>
                            {{ user.firstname }} {{ user.lastname }}
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Organization:</td>
                        <td>
                            {{ user.organization }}
                        </td>
                    </tr>
                    <tr>
                        <td>Personal/organizational website:</td>
                        <td>
                            <a target="_blank" href=//{{ user.personal_website }}>{{ user.personal_website }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>DBLP profile:</td>
                        <td>
                            <a target="_blank" href=//{{ user.dblp_profile }}>{{ user.dblp_profile }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Google Scholar profile:</td>
                        <td>
                            <a target="_blank"
                               href=//{{ user.google_scholar_profile }}>{{ user.google_scholar_profile }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Semantic Scholar profile:</td>
                        <td>
                            <a target="_blank"
                               href=//{{ user.semantic_scholar_profile }}>{{ user.semantic_scholar_profile }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Keywords:</td>
                        <td>
                            {{ user.keywords }}
                        </td>
                    </tr>
                    <tr>
                        <td>Interests:</td>
                        <td>
                            {% for category in user.categories %}
                                <a href="https://arxiv.org/list/{{ category[0] }}/recent"
                                   target="_blank">{{ category[1] }}</a>
                                <br> {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Notification Interval:</td>
                        <td>{{ user.notification_interval }}</td>
                    </tr>
                    <tr>
                        <td>
                            Personal data:
                        </td>
                        <td>
                            <a href="{{ url_for('general.download_personal_data') }}">

                                Download my personal data
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ url_for('general.passwordChange') }}">
                                <div class="profileButton">
                                    <h5>Change password</h5>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('general.modify') }}">
                                <div class="profileButton">
                                    <h5>Modify profile</h5>
                                </div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
