{% extends "base.html" %} {% block content %}
<div class="container">
    <fieldset>
        <legend>Register system:</legend>

        <form action="{{ url_for('general.registerSystem') }}" method="POST" enctype=multipart/form-data>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table>
                <tr>
                    <td>
                        <label for="name">System name: *</label>
                    </td>
                    <td>
                        <input type="text" name="name" placeholder="System Name.." required onblur="inputTouched(this)"
                               size="40" maxlength="40" onfocus="removeTouched(this)">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Register">
                    </td>

                </tr>
            </table>

        </form>
    </fieldset>

</div>

{%endblock%}
