{% extends "base.html" %} {% block content %}
    <div class="container">
        <fieldset>
            <legend>Signup:</legend>

            <form action="{{ url_for("general.signup") }}" method="POST" id="signupForm" enctype=multipart/form-data>
                <table>
                    {% include 'user_profile_form.html' %}
                    <tr>
                        <td>
                            <label for="termsandconditions" class="signupLabel">Terms and Conditions: *</label>
                        </td>
                    <td>
                        <br>
                        <p>I have read and accepted the terms and conditions
                            <a href="{{ url_for("general.termsandconditions") }}">here</a></p>
                        <input type="checkbox" name="termsandconditions" value="accepted" required id="tc_checkbox">
                    </td>
                    <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <br>
                            <input type="submit" value="Signup">
                        </td>
                        <td></td>
                    </tr>


                </table>

            </form>
        </fieldset>

    </div>
{% endblock %}
