{% extends "base.html" %} {% block content %}
<script>
    categoryList = {{ categoryList | tojson | safe }};
    user_keywords = [];
    suggested_keywords = [];
</script>
<div class="container">

    <fieldset>
        <legend>Signup:</legend>

        <form action="{{ url_for('general.signup') }}" method="POST" id="signupForm" enctype=multipart/form-data>
            <table>
                <tr>
                    <td>
                        <label for="email" class="signupLabel">Email: *</label>
                    </td>
                    <td>
                        <p class="signupHint">Your email will not be distributed.</p>
                        <input type="email" id="email" name="email" placeholder="Your email.." required onblur="inputTouched(this)" autofocus size="254"
                            onfocus="removeTouched(this)">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="password" class="signupLabel">Password: *</label>
                    </td>
                    <td>
                        <br>
                        <p class="signupHint">Password must contain atleast one lowercase character, one uppercase character, one number, one symbol
                            and be more than 8 charcters long.</p>
                        <input type="password" id="password" name="password" placeholder="Your password.." pattern="(?=^.{9,256}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                            required onblur="inputTouched(this)" size="256" oninput="this.value==confirmPassword.value ? confirmPassword.setCustomValidity(''): confirmPassword.setCustomValidity('Passwords must match.')"
                            onfocus="removeTouched(this)">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="confpass"></label>
                    </td>
                    <td>
                        <br>
                        <input type="password" id="confpass" name="confirmPassword" placeholder="Repeat password.." required onblur="inputTouched(this)"
                            size="256" oninput="this.value==password.value ? this.setCustomValidity(''): this.setCustomValidity('Passwords must match.')"
                            onfocus="removeTouched(this)">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="firstName">First name: *</label>
                    </td>
                    <td>
                        <input type="text" id="firstName" name="firstName" placeholder="First Name.." required onblur="inputTouched(this)" size="60"
                            onfocus="removeTouched(this)">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="lastName">Last name:</label>
                    </td>
                    <td>
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name.." required onblur="inputTouched(this);" size="60"
                            onfocus="removeTouched(this)">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="organization">Organization:</label>
                    </td>
                    <td>
                        <input type="text" id="organization" name="organization" placeholder="organization.." required onblur="inputTouched(this);" size="60"
                            onfocus="removeTouched(this)">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="websiteInput" class="signupLabel">Websites: *</label>
                    </td>
                    <td>
                        <br>
                        <p class="signupHint">Enter one or more webpages. Preferably your dblp, google scholar or linkedIn</p>
                        <input id="websiteInput" type="text" name="website" placeholder="Your website.." onblur="inputTouched(this);" onfocus="removeTouched(this)"
                            required size="1024">
                        <p id="keyword_info"></p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="keywords" class="signupLabel">Keywords:</label>
                    </td>
                    <td>
                        <div style="height:300px;">
                            <div>
                                <br>
                                <p class="signupHint">Enter your interests seperated by a comma or add suggested keywords from the list to the right</p>
                                <textarea id="keyword_text" name="keywords" style="height:220px; resize: none;"></textarea>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="keywords">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="interests" class="signupLabel">Interests:</label>
                    </td>
                    <td>
                        <br>
                        <p class="signupHint">Select categories and/or subcategories you're interested in, press enter or add to submit currently
                            selected category, you can select both categories and subcategories.
                        </p>
                        <ul id="interestsList"></ul>
                        <input type="hidden" name="categories" id="categoriesInput">
                        <div class="flexContainer">
                            <input id="interestsInput" class="flexinput" type="text" name="interests" placeholder="Your interests.." size="300">
                            <button id="addCategory">Add</button>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="keywords" class="signupLabel">Notification interval:</label>
                    </td>
                    <td>
                        <br>
                        <p>How often would you like receive a digest email?</p>
                        <input type="radio" name="digestFrequency" value="1 day" checked>1 day
                        <br>
                        <input type="radio" name="digestFrequency" value="7 days">7 days
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="termsandconditions" class="signupLabel">Terms and Conditions:</label>
                    </td>
                    <td>
                        <br>
                        <p>I have read and accepted the terms and conditions 
                        <a href="{{ url_for('general.termsandconditions') }}">here</a></p>
                        <input type="checkbox" name="termsandconditions" value="accepted" required id="tc_checkbox">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br>
                        <input type="submit" value="Signup">
                    </td>
                    <td></td>
                </tr>
            </table>

        </form>
    </fieldset>

</div>

{%endblock%}