{% macro input(name,placeholder="", value="", label="", type="text", maxlength=20, required=false) -%}
    <td>
        <label for="{{ name }}Input">
            {{ label }}{% if required %} *{% endif %}
        </label>
    </td>
    <td>
        <input id="{{ name }}Input"
               type="{{ type }}"
               name="{{ name }}"
               placeholder="{{ placeholder }}"
               onblur="inputTouched(this);"
               onfocus="removeTouched(this);"
               value="{{ value|e }}"
               {% if required %}required{% endif %}
               maxlength="{{ maxlength }}">
        <p class="form_error"></p>

    </td>
    <td></td>
{%- endmacro %}
<script>
    categoryList = {{ categoryList | tojson }};
    usercategories = {{ (user.categories if user else[]) | tojson }};
    user_topics = {{ (user.topics if user else[] )| tojson }};
</script>
<tr>
    <td>
        <label for="email" class="signup">Email: *</label>
    </td>
    <td>
        <input type="email" id="email" name="email" placeholder="Your email.." required onblur="inputTouched(this)"
               autofocus size="254" onfocus="removeTouched(this)" value="{{ user.email if user else '' }}">
        <p class="hint">Your email address will not be shared with anyone!</p>
        <p class="form_error"></p>
    </td>
    <td></td>
</tr>
{% if signup %}
    <tr>
        <td>
            <label for="password" class="signup">Password: *</label>
        </td>
        <td>
            <input type="password" id="password" name="password" placeholder="Your password.."
                   pattern="(?=^.{9,256}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required
                   onblur="inputTouched(this)" size="256" oninput="this.value==confirmPassword.value ? confirmPassword.setCustomValidity(''):
                            confirmPassword.setCustomValidity('Passwords must match.')" onfocus="removeTouched(this)">
            <p class="hint">Password must contain at least one lowercase character, one uppercase
                character, one number, one symbol, and be more than 8 characters long.</p>
            <p class="form_error"></p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <label for="confpass"></label>
        </td>
        <td>
            <input type="password" id="confpass" name="confirmPassword" placeholder="Repeat password.." required
                   onblur="inputTouched(this)" size="256" oninput="this.value==password.value ? this.setCustomValidity(''):
                            this.setCustomValidity('Passwords must match.')" onfocus="removeTouched(this)">
            <p class="form_error"></p>
        </td>
        <td></td>
    </tr>
{% endif %}
<tr>
    {{ input("firstname",placeholder="Your first name..",
                        label="First name:", maxlength=60, required=true,value=user.firstname
                         if user else "") }}
</tr>
<tr>
    {{ input("lastname",placeholder="Your last name..",
                        label="Last name:", maxlength=60, required=true,
                        value=user.lastname if user else "") }}
</tr>
<tr>
    {{ input("organization",placeholder="Your Organization..",
                        label="Organization:", maxlength=100, required=true,
                        value=user.organization if user else "") }}
</tr>
<tr>
    {{ input("personal_website",placeholder="Your personal/organizational website..",
                        label="Personal website:", maxlength=120,
                        value=user.personal_website if user else "") }}
</tr>
<tr>
    {{ input("dblp_profile",placeholder="Your DBLP profile page..",
                    label="DBLP profile:", maxlength=120,
                    value=user.dblp_profile if user else "" ) }}
</tr>
<tr>
    {{ input("google_scholar_profile",placeholder="Your Google Scholar profile..",
                        label="Google Scholar profile:", maxlength=120,
                        value=user.google_scholar_profile if user else "") }}
</tr>
<tr>
    {{ input("semantic_scholar_profile",placeholder="Your Semantic Scholar profile..",
                        label="Semantic Scholar profile:", maxlength=120,
                        value=user.semantic_scholar_profile if user else "") }}
</tr>

<tr>
    <td>
        <label for="topics_input" class="signup">Topics: *</label>
    </td>
    <td>
        <div class="flexContainer">
            <div>
                <input id="topic_input" type="text" name="topics_input" placeholder="Your topics.." maxlength=50>
            </div>
            <button id="add_topic" class="btn btn-primary">Add</button>
        </div>
        <p class="hint">Select topics from the suggestion list or enter your own.
            <strong>You'll need to provide at least 3 topics.</strong>
        </p>
        <p class="form_error"></p>

        <ul id="topic_list" class="list-group  form_list"></ul>
        <input type="hidden" name="topics" id="hidden_topics_input">
    </td>
    <td></td>
</tr>
<tr>
    <td>
        <label for="interests" class="signup">Interests:</label>
    </td>
    <td>
        <div class="flexContainer">
            <div>
                <input id="interestsInput" type="text" name="interests" placeholder="Your interests.." size="300">
                <button id="addCategory" class="btn btn-primary">Add</button>
            </div>
        </div>
        <p class="hint">Select one or multiple arXiv categories you're interested in.
            Press enter or click add to submit the currently selected category.
            You can select both categories and subcategories.
        </p>
        <ul id="interestsList" class="list-group form_list"></ul>
        <input type="hidden" name="categories" id="categoriesInput">
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <label for="notification_interval" class="signup">Notification interval: *</label>
    </td>
    <td>
        <div style="margin-top:10px;">
            <p class="hint">How often would you like receive a digest email?</p>
            {% if not signup%}
            <input type="radio" name="notification_interval" value="0"
                    {{ "checked" if user and user.notification_interval | int ==0 else '' }}>I dont want a digest email
            <br>
            {% endif %}
            <input type="radio" name="notification_interval" value="1" required
                    {{ "checked" if not user or user.notification_interval | int ==1 else '' }}>1 day
            <br>
            <input type="radio" name="notification_interval" value="7"
                    {{ "checked" if user and user.notification_interval | int ==7 else '' }}>7 days
        </div>
    </td>
    <td></td>
</tr>
