{% macro input(name,placeholder="", value="", label="", type="text", size=20, required=false) -%}
    <td>
        <label for="{{ name }}Input">
            {{ label }}{% if required %} *{% endif %}
        </label>
    </td>
    <td>
        <input id="{{ name }}Input"
               type="{{ type }}"
               name="{{ name }}"
               placeholder="{{ placeholder }}"
               onblur="inputTouched(this);"
               onfocus="removeTouched(this);"
               value="{{ value|e }}"
               {% if required %}required{% endif %}
               size="{{ size }}">
        <p class="form_error"></p>

    </td>
    <td></td>
{%- endmacro %}
<script>
    categoryList = {{ categoryList | tojson }};
    usercategories = {{ (user.categories if user else[]) | tojson }};
    user_topics = {{ (user.topics if user else[] )| tojson }};
</script>
<tr>
    <td>
        <label for="email" class="signupLabel">Email: *</label>
    </td>
    <td>
        <p class="signupHint">Your email will not be distributed.</p>
        <input type="email" id="email" name="email" placeholder="Your email.." required onblur="inputTouched(this)"
               autofocus size="254" onfocus="removeTouched(this)" value="{{ user.email if user else '' }}">
        <p class="form_error"></p>
    </td>
    <td></td>
</tr>
{% if not user %}
    <tr>
        <td>
            <label for="password" class="signupLabel">Password: *</label>
        </td>
        <td>
            <br>
            <p class="signupHint">Password must contain atleast one lowercase character, one uppercase
                character, one number, one symbol
                and be more than 8 charcters long.</p>
            <input type="password" id="password" name="password" placeholder="Your password.."
                   pattern="(?=^.{9,256}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required
                   onblur="inputTouched(this)" size="256" oninput="this.value==confirmPassword.value ? confirmPassword.setCustomValidity(''):
                            confirmPassword.setCustomValidity('Passwords must match.')" onfocus="removeTouched(this)">
            <p class="form_error"></p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <label for="confpass"></label>
        </td>
        <td>
            <input type="password" id="confpass" name="confirmPassword" placeholder="Repeat password.." required
                   onblur="inputTouched(this)" size="256" oninput="this.value==password.value ? this.setCustomValidity(''):
                            this.setCustomValidity('Passwords must match.')" onfocus="removeTouched(this)">
            <p class="form_error"></p>
        </td>
        <td></td>
    </tr>
{% endif %}
<tr>
    {{ input("first_name",placeholder="Your first name..",
                        label="First name:", size=60, required=true,
                        value=user.firstname if user else "") }}
</tr>
<tr>
    {{ input("last_name",placeholder="Your last name..",
                        label="Last name:", size=60, required=true,
                        value=user.lastname if user else "") }}
</tr>
<tr>
    {{ input("organization",placeholder="Your Organization..",
                        label="Organization:", size=60, required=true,
                        value=user.organization if user else "") }}
</tr>
<tr>
    {{ input("personal_website",placeholder="Your personal/organizational website..",
                        label="Personal website:", size=256,
                        value=user.personal_website if user else "") }}
</tr>
<tr>
    {{ input("dblp",placeholder="Your DBLP profile page..",
                    label="DBLP profile:", size=256,
                    value=user.dblp_profile if user else "" ) }}
</tr>
<tr>
    {{ input("google_scholar",placeholder="Your Google Scholar profile..",
                        label="Google Scholar profile:", size=256,
                        value=user.google_scholar_profile if user else "") }}
</tr>
<tr>
    {{ input("semantic_scholar",placeholder="Your Semantic Scholar profile..",
                        label="Semantic Scholar profile:", size=256,
                        value=user.semantic_scholar_profile if user else "") }}
</tr>

<tr>
    <td>
        <label for="topics_input" class="signupLabel">Topics:</label>
    </td>
    <td>
        <br>
        <p class="signupHint">Select topics from the suggestion list or submit your own, press
            enter or add to submit currently selected topic. Submit at least 3 topics.
        </p>
        <div class="flexContainer">
            <div>
                <input id="topic_input" type="text" name="topics_input" placeholder="Your topics.." size="300">
            </div>
            <button id="add_topic" class="btn btn-primary">Add</button>
        </div>
        <p class="form_error"></p>

        <ul id="topic_list" class="list-group  form_list"></ul>
        <input type="hidden" name="topics" id="hidden_topics_input">
    </td>
    <td></td>
</tr>
<tr>
    <td>
        <label for="interests" class="signupLabel">Interests:</label>
    </td>
    <td>
        <br>
        <p class="signupHint">Select categories and/or subcategories you"re interested in, press
            enter or add to submit currently
            selected category, you can select both categories and subcategories.
        </p>
        <div class="flexContainer">
            <div>
                <input id="interestsInput" type="text" name="interests" placeholder="Your interests.." size="300">
                <button id="addCategory" class="btn btn-primary">Add</button>
            </div>
        </div>
        <ul id="interestsList" class="list-group form_list"></ul>
        <input type="hidden" name="categories" id="categoriesInput">
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        <label for="digest_frequency" class="signupLabel">Notification interval: *</label>
    </td>
    <td>
        <br>
        <p>How often would you like receive a digest email?</p>
        <input type="radio" name="digest_frequency" value="1 day" required
                {{ "checked" if not user or user.notification_interval ==1 else '' }}>1 day
        <br>
        <input type="radio" name="digest_frequency" value="7 days"
                {{ "checked" if user and user.notification_interval ==7 else '' }}>7 days
    </td>
    <td></td>
</tr>
