{% macro render_field(field, label_visible=true) -%}

    {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
        <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ field.label.text }}</h3>
        </div>
            <div class="panel-body">
                {{ field(class_='form-control', **kwargs) }}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <p class="form_error">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        {{ field(class_='form-control', **kwargs) }}
    {% endif %}

{%- endmacro %}


{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}


{% macro render_radio_field(field, class_='radio') -%}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ field.label.text }}</h3>
        </div>
        <div class="panel-body">
            {% for choice in field.iter_choices() %}
                {% set value = choice[0] %}
                {% set label = choice[1] %}
                <label class="{{ class_ }}">
                    <input type="radio" name="{{ field.id }}" id="{{ field.id }}"
                           value="{{ value }}" {{ 'checked' if field.data == value else'' }}>
                    {{ label }}
                </label>
            {% endfor %}
            {% for e in field.errors %}
                <p class="form_error">{{ e }}</p>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}


{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-primary') -%}

    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
    </form>
{%- endmacro %}
