{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div>
            <h2>Administrate systems</h2>
            <hr>
            <h3 class="leftText">List of systems:</h3>
            <table class="systemList table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>API-key</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody> {%for system in systems%}
                    <tr>
                        <td>{{system.system_ID}}</td>
                        <td>{{system.system_name}}</td>
                        <td>{{system.api_key}}</td>
                        <td>
                            <input class="toggleSystem" type="checkbox" data-value={{system.system_ID}} data-active={{system.active}}>
                        </td>
                    </tr>
                    {% endfor %}</tbody>

            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}