{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div>
            <h2>Administrate systems</h2>
            <hr>
            <h3 class="leftText">List of systems:</h3>
            <table class="systemList table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>API-key</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody> {%for system in systems%}
                    <tr>
                        <td>{{system.system_ID}}</td>
                        <td>{{system.system_name}}</td>
                        <td>{{system.api_key}}</td>
                        <td>
                            <input class="toggleSystem" type="checkbox" data-value={{system.system_ID}} data-active={{system.active}}>
                        </td>
                    </tr>
                    {% endfor %}</tbody>

            </table>
        </div>
        <hr>
        <h3 class="leftText">Submit new system:</h3>
        <form id="systemForm" action="{{ url_for('admin.addSystem') }}" method="POST" enctype=multipart/form-data>
            <label for="systemName">System name:</label>
            <input type="text" id="systenName" name="systemName" placeholder="System Name..">
            <br>
            <p style="color:gray;">By sumbitting system you will get a system key. Search the list of systems for your key.</p>
            <input type="submit" value="Submit system" id="systemSubmit">
        </form>
    </div>
</div>
</div>
{% endblock %}