{% extends "base.html" %} {% block content %}
<div class="container">
    <fieldset>
        <legend>Register system:</legend>

        <form action="{{ url_for('general.registerSystem') }}" method="POST" enctype=multipart/form-data>
            <table>
                <tr>
                    <td>
                        <label for="email" class="signupLabel">Email: *</label>
                    </td>
                    <td>
                        <p class="signupHint">Your email will not be distributed.</p>
                        <input type="email" name="email" placeholder="Your email.." required onblur="inputTouched(this)" autofocus size="254" onfocus="removeTouched(this)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name">System name: *</label>
                    </td>
                    <td>
                        <input type="text" name="name" placeholder="System Name.." required onblur="inputTouched(this)" size="255" onfocus="removeTouched(this)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="contact">Contact name: *</label>
                    </td>
                    <td>
                        <input type="text" name="contact" placeholder="Contact Name.." required onblur="inputTouched(this);" size="255" onfocus="removeTouched(this)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="organization">Organization name: *</label>
                    </td>
                    <td>
                        <input type="text" name="organization" placeholder="Organization Name.." required onblur="inputTouched(this);" size="255"
                            onfocus="removeTouched(this)">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br>
                        <input type="submit" value="Signup">
                    </td>

                </tr>
            </table>

        </form>
    </fieldset>

</div>

{%endblock%}